<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <!-- models -->
        <typeAlias type="com.ipastushenko.core.model.User" alias="User" />
        <typeAlias type="com.ipastushenko.core.model.Role" alias="Role" />
        <typeAlias type="com.ipastushenko.core.model.UserDetailsImpl" alias="UserDetailsImpl" />

        <!-- java types -->
        <typeAlias type="java.util.ArrayList" alias="ArrayList" />
        <typeAlias type="java.lang.String" alias="String" />
        <typeAlias type="java.lang.Long" alias="Long" />
    </typeAliases>
</configuration>